.mat-card{
    max-width: 350px;
    margin:0 !important;
}

.mat-card-content{
    font-size: 0.9rem;
    padding-bottom: 0 !important;
}

.mat-card-actions{
    margin:0;
}

.mat-raised-button {
    min-width: 100px;
}