@import "../../../theme_variables.scss";

.mat-card{
    max-width: 1000px;
    margin-bottom: 0px;
}

.mat-card-content{
    padding-bottom: 0 !important;
}

.mat-card-content{
    padding: 10px !important;
}