<div class="modal-header bg-purple text-center">
    <h4 class="modal-title mx-auto">Change your password</h4>
</div>

<form novalidate [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

    <div class="modal-body">

        <div class="form-group">
            <label>Current password</label>
            <input type="password" class="form-control" formControlName="currentPassword" />
        </div>
        <alert *ngIf="changePasswordForm.get('currentPassword').hasError('required') && changePasswordForm.get('currentPassword').touched" type="danger"
            class="mt-1">
            Password <strong>cannot</strong> be empty.
        </alert>
        <alert *ngIf="changePasswordForm.get('currentPassword').hasError('minlength') && changePasswordForm.get('currentPassword').touched" type="danger"
            class="mt-1">
            Password <strong>must</strong> have <strong>at least 5</strong> characters.
        </alert>
        <alert *ngIf="changePasswordForm.get('currentPassword').hasError('maxlength')" type="danger" class="mt-1">
            Password <strong>cannot</strong> exceed <strong>20</strong> characters.
        </alert>


        <div class="form-group">
            <label>New password</label>
            <input type="password" class="form-control" formControlName="newPassword" />
        </div>
        <alert *ngIf="changePasswordForm.get('newPassword').hasError('required') && changePasswordForm.get('newPassword').touched" type="danger"
            class="mt-1">
            Password <strong>cannot</strong> be empty.
        </alert>
        <alert *ngIf="changePasswordForm.get('newPassword').hasError('minlength') && changePasswordForm.get('newPassword').touched" type="danger"
            class="mt-1">
            Password <strong>must</strong> have <strong>at least 5</strong> characters.
        </alert>
        <alert *ngIf="changePasswordForm.get('newPassword').hasError('maxlength')" type="danger" class="mt-1">
            Password <strong>cannot</strong> exceed <strong>20</strong> characters.
        </alert>

        <div class="form-group">
            <label>Confirm password</label>
            <input type="password" class="form-control" formControlName="newPasswordConfirm" />
        </div>
        <alert
            *ngIf="changePasswordForm.get('newPasswordConfirm').hasError('required') && changePasswordForm.get('newPasswordConfirm').touched && changePasswordForm.get('newPassword').valid"
            type="danger" class="mt-1">
            You need to confirm the new password.
        </alert>

    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-purple" [disabled]="!changePasswordForm.valid">Save</button>
        <button type="button" class="btn btn-outline-purple" (click)="onCancel()">Cancel</button>
    </div>

</form>