.navbar-custom {
    background-color: #B5446E;
    border: 2px solid white;
}

.navbar-custom .navbar-brand {
    color: white;
    font-family: 'Montserrat', serif;
}

.navbar-custom .navbar-nav .nav-link {
    color: #ddd;
    letter-spacing: 0;
    font-size: 1.1em;
}

.navbar-custom .nav-item.active .nav-link, .navbar-custom .nav-item:focus .nav-link, .navbar-custom .nav-item:hover .nav-link, .navbar-custom .btn-group.active .nav-link, .navbar-custom .btn-group:focus .nav-link, .navbar-custom .btn-group:hover .nav-link {
    color: white;
}

.dropdown-menu {
    border: 2px solid white;
    background-color: #B5446E;
    color: white;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 12px #B5446E;
}

.dropdown-item {
    background-color: #B5446E;
    color: white;
}

.dropdown-menu .dropdown-item:hover {
    background-color: white;
    color: #B5446E;
}

.i {
    text-decoration: underline;
}