<nav class="navbar navbar-expand-lg navbar-custom mb-4">

    <a (click)="navigateFromMenu('/child-page/1')">
        <span class="navbar-brand text-left py-0">
            Daycare Catering<br>
            Bill Generator
        </span>
    </a>

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <i class="fa fa-bars fa-lg text-white"></i>
    </button>

    <div class="collapse navbar-collapse bg-purple m-0 p-0" [class.show]="navbarOpen">

        <ul class="navbar-nav mr-auto">

            <li *ngIf="authenticationService.isUserLoggedIn()" class="btn-group mr-1" dropdown container="body">
                <a class="dropdown-toggle nav-link" data-toggle="dropdown" dropdownToggle>
                    Children
                </a>
                <div class="dropdown-menu" *dropdownMenu>
                    <a *ngIf="authenticationService.isUserAuthorized(['HEADMASTER'])" class="dropdown-item"
                        (click)="openCreateChildModal()">
                        Add new child</a>
                    <a class="dropdown-item" (click)="navigateFromMenu('/unassigned-children-list')">
                        View unassigned children</a>
                    <a class="dropdown-item" (click)="navigateFromMenu('/children-archive')">View children archive</a>
                    <a class="dropdown-item" (click)="navigateFromMenu('/track-attendance')">Track attendance</a>
                </div>
            </li>

            <li *ngIf="authenticationService.isUserLoggedIn()" class="btn-group mr-1" dropdown container="body">
                <a class="dropdown-toggle nav-link" data-toggle="dropdown" dropdownToggle>
                    Daycare
                </a>
                <div class="dropdown-menu" *dropdownMenu>
                    <a *ngIf="authenticationService.isUserAuthorized(['HEADMASTER'])" class="dropdown-item"
                        (click)="openCreateDaycareGroupModal()">Add new group</a>
                    <a class="dropdown-item" (click)="navigateFromMenu('/daycare-group-list')">
                        Display list of groups</a>
                </div>
            </li>

            <li *ngIf="authenticationService.isUserLoggedIn()" class="btn-group mr-1" dropdown container="body">
                <a class="dropdown-toggle nav-link" data-toggle="dropdown" dropdownToggle>
                    Catering
                </a>
                <div class="dropdown-menu" *dropdownMenu>
                    <a *ngIf="authenticationService.isUserAuthorized(['HEADMASTER'])" class="dropdown-item"
                        (click)="openCreateCateringOptionModal()">Add new option</a>
                    <a class="dropdown-item" (click)="navigateFromMenu('/catering-options-list')">
                        Display available options</a>
                    <a *ngIf="authenticationService.isUserAuthorized(['HEADMASTER'])" class="dropdown-item"
                        (click)="navigateFromMenu('/generate-catering-bills')">Generate/display
                        catering bills</a>
                </div>
            </li>

        </ul>

        <div *ngIf="authenticationService.isUserLoggedIn()" class="col-8 col-sm-5 col-md-4 col-lg-3 pl-0">
            <form (ngSubmit)="findChildren()" class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Find children" name="search"
                        [(ngModel)]="searchPhrase" autocomplete="off">
                    <div class="input-group-btn">
                        <button class="btn btn-darkblue" type="submit" id="search-submit">
                            <i class="fa fa-search fa-lg text-white"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <ul *ngIf="!authenticationService.isUserLoggedIn()" class="navbar-nav">
            <li><a class="nav-link" (click)="navigateFromMenu('/login')">Login</a></li>
        </ul>

        <ul *ngIf="authenticationService.isUserLoggedIn()" class="navbar-nav">
            <li><a class="nav-link" (click)="logout()">Logout</a></li>
        </ul>

    </div>
</nav>