@import "../../../theme_variables.scss";

.mat-card{
    max-width: 350px;
    height: 270;
    margin:0 !important;
}

.mat-card-content{
    font-size: 0.9rem;
    height: 125px;
    padding-bottom: 0 !important;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.mat-card-actions{
    margin:0;
}

.mat-raised-button {
    min-width: 100px;
}

.failed-email{
    .mat-card-title{
        background-color: $warn-darker-color !important;
    }
    .mat-raised-button:enabled{
        background-color: $warn-darker-color !important;
    }

    .mat-raised-button:hover{
        background-color: $warn-color !important;
    }
}
