<div class="modal-header bg-purple text-center">
    <h4 class="modal-title mx-auto">{{header}}</h4>
</div>

<form novalidate [formGroup]="userForm" (ngSubmit)="onSubmit()">

    <div class="modal-body">

        <div class="form-group">
            <label>First name</label>
            <input type="text" class="form-control" formControlName="firstName" />
        </div>
        <alert *ngIf="userForm.get('firstName').hasError('required') && userForm.get('firstName').touched"
            type="danger" class="mt-1">
            First name <strong>cannot</strong> be empty.
        </alert>
        <alert *ngIf="userForm.get('firstName').hasError('minlength') && userForm.get('firstName').touched"
            type="danger" class="mt-1">
            First name must be at least <strong>2</strong> characters long.
        </alert>
        <alert *ngIf="userForm.get('firstName').hasError('maxlength')" type="danger" class="mt-1">
            First name <strong>cannot</strong> exceed <strong>20</strong> characters.
        </alert>

        <div class="form-group">
            <label>Last name</label>
            <input type="text" class="form-control" formControlName="lastName" />
        </div>
        <alert *ngIf="userForm.get('lastName').hasError('required') && userForm.get('lastName').touched"
            type="danger" class="mt-1">
            Last name <strong>cannot</strong> be empty.
        </alert>
        <alert *ngIf="userForm.get('lastName').hasError('minlength') && userForm.get('username').touched"
            type="danger" class="mt-1">
            Last name must be at least <strong>2</strong> characters long.
        </alert>
        <alert *ngIf="userForm.get('lastName').hasError('maxlength')" type="danger" class="mt-1">
            Last name <strong>cannot</strong> exceed <strong>20</strong> characters.
        </alert>

        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" formControlName="username" />
        </div>
        <alert *ngIf="userForm.get('username').hasError('required') && userForm.get('username').touched"
            type="danger" class="mt-1">
            Username <strong>cannot</strong> be empty.
        </alert>
        <alert *ngIf="userForm.get('username').hasError('minlength') && userForm.get('username').touched"
            type="danger" class="mt-1">
            Username must be at least <strong>5</strong> characters long.
        </alert>
        <alert *ngIf="userForm.get('username').hasError('maxlength')" type="danger" class="mt-1">
            Username <strong>cannot</strong> exceed <strong>20</strong> characters.
        </alert>

        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password" />
        </div>
        <alert *ngIf="userForm.get('password').hasError('required') && userForm.get('password').touched"
            type="danger" class="mt-1">
            Password <strong>cannot</strong> be empty.
        </alert>
        <alert *ngIf="userForm.get('password').hasError('minlength') && userForm.get('password').touched"
            type="danger" class="mt-1">
            Password must be at least <strong>5</strong> characters long.
        </alert>
        <alert *ngIf="userForm.get('password').hasError('maxlength')" type="danger" class="mt-1">
            Password <strong>cannot</strong> exceed <strong>20</strong> characters.
        </alert>

        <div class="form-group">
            <label>Confirm password</label>
            <input type="password" class="form-control" formControlName="passwordConfirm" />
        </div>
        <alert *ngIf="userForm.get('passwordConfirm').hasError('required') && userForm.get('passwordConfirm').touched && userForm.get('password').valid"
            type="danger" class="mt-1">
            You need to confirm the chosen password.
        </alert>

    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-purple" [disabled]="!userForm.valid">Save</button>
        <button type="button" class="btn btn-outline-purple" (click)="onCancel()">Cancel</button>
    </div>

</form>