#month-input {
    width: 180px;
    background-color: white;
    border: 1px solid #B5446E;
}

#group-input{
    width: 150px;
    border: 1px solid #B5446E;
}

#select-button{
    max-width: 75px;
}

@media (max-width: 576px){
    .form-inline{
        flex-direction: column;
    }
    #month-group-select{
        margin-left: auto;
        margin-right: auto;
    }

    #month-input,#group-input,#select-button{
        min-width: 200px;
        max-width: 200px;
    }
}