<div class="row">

    <div class="col-10 col-sm-10 col-md-8 col-lg-6 col-xl-5 offset-1 offset-md-2 offset-lg-4 offset-xl-5">
        <div id="date-group-select" class="border-darkblue py-2">

            <form novalidate class=" form-inline" [formGroup]="selectMonthAndGroupForm" (ngSubmit)="onSelect()">

                <div class="form-group mx-auto mr-sm-0">
                    <input bsDatepicker class="form-control" id="month-input" formControlName="firstDayOfSelectedMonth"
                        [bsConfig]="{dateInputFormat: 'MMMM YYYY', containerClass:'theme-default'}"
                        (onShown)="onOpenCalendar($event)" [minDate]="minDate" readonly>
                </div>

                <div class="form-group mx-auto mx-sm-2">
                    <select class="custom-select" id="group-input" formControlName="daycareGroup">
                        <option *ngFor="let daycareGroup of daycareGroups" [ngValue]="daycareGroup">
                            {{daycareGroup.groupName}}
                        </option>
                    </select>
                </div>

                <button class="btn btn-outline-purple mx-auto ml-sm-0" id="select-button" type="submit">
                    Select
                </button>

            </form>

        </div>
    </div>

</div>

<div class="row">

    <div class="card col-10 col-md-8 mx-auto my-4 p-0 text-center border-darkblue">

        <div class="card-header bg-darkblue">
            <h5 class="card-title my-0">Generate catering bills</h5>
        </div>

        <div *ngIf="selectedDaycareGroup" class="card-body pt-3">

            <h5 class="subheader-purple">Selected group: {{selectedDaycareGroup.groupName}}</h5>
            <h5 class="subheader-purple">{{selectedMonth}}</h5>
            <div class="subheader-underline mb-2"></div>

            <div class="table-responsive">
                <table class="table table-hover table-borderless table-striped text-center">

                    <thead>
                        <tr>
                            <th>First name</th>
                            <th>Last Name</th>
                            <th>Child Id</th>
                            <th>Display bill</th>
                            <th>Generate bill</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let child of selectedDaycareGroup.children">
                            <td>{{child.firstName}}</td>
                            <td>{{child.lastName}}</td>
                            <td>#{{child.id}}</td>
                            <ng-template
                                *ngIf="checkIfCateringBillExistsForChild(child.id) then billGenerated else billNotGenerated">
                            </ng-template>
                            <ng-template #billGenerated>
                                <td>
                                    <button class="btn btn-outline-purple" (click)="console.log(child.id)">
                                        Display
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-outline-purple" (click)="console.log(child.id)">
                                        Correction
                                    </button>
                                </td>
                            </ng-template>
                            <ng-template #billNotGenerated>
                                <td>
                                    Not yet generated
                                </td>
                                <td>
                                    <button class="btn btn-outline-purple" (click)="console.log(child.id)">
                                        New bill
                                    </button>
                                </td>
                            </ng-template>
                        </tr>

                    </tbody>

                </table>
            </div>

        </div>

        <div *ngIf="!selectedDaycareGroup" class="card-body pt-4">
            Select month and daycare group to generate and/or display catering bills for it's members.
        </div>

    </div>

</div>