<div class="modal-header bg-purple text-center">
  <h4 class="modal-title mx-auto">{{header}}</h4>
</div>

<form novalidate [formGroup]="childBasicInfoForm" (ngSubmit)="onSubmit()">

  <div class="modal-body">

    <div class="form-group">
      <label>First name</label>
      <input type="text" class="form-control" formControlName="firstName" />
    </div>
    <alert
      *ngIf="childBasicInfoForm.get('firstName').hasError('required') && childBasicInfoForm.get('firstName').touched"
      type="danger" class="mt-1">
      First name <strong>cannot</strong> be empty.
    </alert>
    <alert
      *ngIf="childBasicInfoForm.get('firstName').hasError('minlength') && childBasicInfoForm.get('firstName').touched"
      type="danger" class="mt-1">
      First name must be at least <strong>2</strong> characters long.
    </alert>
    <alert *ngIf="childBasicInfoForm.get('firstName').hasError('maxlength')" type="danger" class="mt-1">
      First name <strong>cannot</strong> exceed <strong>20</strong> characters.
    </alert>

    <div class="form-group">
      <label>Last name</label>
      <input type="text" class="form-control" formControlName="lastName" />
    </div>
    <alert *ngIf="childBasicInfoForm.get('lastName').hasError('required') && childBasicInfoForm.get('lastName').touched"
      type="danger" class="mt-1">
      Last name <strong>cannot</strong> be empty.
    </alert>
    <alert
      *ngIf="childBasicInfoForm.get('lastName').hasError('minlength') && childBasicInfoForm.get('lastName').touched"
      type="danger" class="mt-1">
      Last name must be at least <strong>2</strong> characters long.
    </alert>
    <alert *ngIf="childBasicInfoForm.get('lastName').hasError('maxlength')" type="danger" class="mt-1">
      Last name <strong>cannot</strong> exceed <strong>20</strong> characters.
    </alert>

    <div class="form-group">
      <label>Parent email</label>
      <input type="email" class="form-control" formControlName="parentEmail" />
    </div>
    <alert
      *ngIf="childBasicInfoForm.get('parentEmail').hasError('required') && childBasicInfoForm.get('parentEmail').touched"
      type="danger" class="mt-1">
      Parent email <strong>cannot</strong> be empty.
    </alert>
    <alert
      *ngIf="childBasicInfoForm.get('parentEmail').hasError('email') && childBasicInfoForm.get('parentEmail').touched"
      type="danger" class="mt-1">
      <strong>Invalid</strong> email format.
    </alert>

  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-purple" [disabled]="!childBasicInfoForm.valid">Save</button>
    <button type="button" class="btn btn-outline-purple" (click)="onCancel()">Cancel</button>
  </div>

</form>