<div class="modal-top-20">
  <div class="modal-header">
    <h4 class="modal-title">{{header}}</h4>
  </div>

  <div class="modal-body">
    First Name <input type="text" class="form-control" [(ngModel)]="child.firstName" />
    Last Name <input type="tex" class="form-control" [(ngModel)]="child.lastName" />
  </div>

  <div class="modal-footer">
    <button class="btn btn-warning" (click)="onSave()">Save</button>
    <button class="btn btn-warning" (click)="onCancel()">Cancel</button>
  </div>
</div>