<div class="col col-sm-10 col-md-7 col-lg-5 col-xl-4 mx-auto">

    <form novalidate [formGroup]="createGroupForm" (ngSubmit)="onSubmit()">

        <mat-form-field color="accent" class="mb-4">
            <mat-label>Group name</mat-label>
            <input type="text" matInput formControlName='groupName'>
            <mat-error>{{groupNameErrorMessage}}</mat-error>
        </mat-form-field>

        
        <div class="text-center my-3">
            <button mat-raised-button color="accent" [disabled]="createGroupForm.invalid">Create</button>
        </div>

    </form>

</div>