<div *ngIf="groupSupervisors else loadingGroupSupervisors" class="row">

    <div class="card col-10 col-md-8 mx-auto my-4 p-0 text-center border-darkblue">

        <div class="card-header bg-darkblue">
            <h5 class="card-title my-0">List of group supervisors</h5>
        </div>

        <div class="card-body pt-4">

            <div class="table-responsive">
                <table class="table table-hover table-borderless text-center">

                    <thead>
                        <tr>
                            <th>First name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                            <th>User page</th>
                            <th>Delete user</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let user of groupSupervisors">
                            <td>{{user.firstName}}</td>
                            <td>{{user.lastName}}</td>
                            <td>{{user.username}}</td>
                            <td>
                                <button class="btn btn-outline-purple" [routerLink]="['/user-page',user.username]">
                                    Open
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-outline-purple" (click)="deleteGroupSupervisorAccount(user)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<ng-template #loadingGroupSupervisors>
    <div class="text-center my-5 mx-auto">
        <h2 class="heading-darkblue">Loading group supervisors data...</h2>
    </div>
</ng-template>