#date-input {
    width: 115px;
    background-color: white;
    border: 1px solid #B5446E;
}

#group-input{
    width: 150px;
    border: 1px solid #B5446E;
}

#select-button{
    max-width: 75px;
}

@media (max-width: 576px){
    .form-inline{
        flex-direction: column;
    }
    #date-group-select{
        margin-left: auto;
        margin-right: auto;
    }

    #date-input,#group-input,#select-button{
        min-width: 200px;
        max-width: 200px;
    }
}

td, th {
    text-align: center;
    vertical-align: middle;
    width: 25%;
}

#attendance-cell, #attendance-header{
    text-align: left;
}

tbody tr, thead tr {
    border-bottom: 2px solid #484D6D;
    white-space: nowrap;
}

.checkbox-present, .checkbox-not-present {
    background-color: white;
    border-color: #B5446E;
    border-radius: 0;
}

.checkbox-present{
    color: #B5446E;
}

.checkbox-not-present{
    color:white;
}

.checkbox-present:hover, .checkbox-present:active, .checkbox-present:focus,
.checkbox-not-present:hover, .checkbox-not-present:active, .checkbox-not-present:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px  #B5446E;
}
