<div *ngIf="activeCateringOptions && disabledCateringOptions else loadingCateringOptions" class="row">

    <div class="card col-10 col-md-8 mx-auto my-4 p-0 text-center border-darkblue">

        <div class="card-header bg-darkblue">
            <h5 class="card-title mt-0 mb-2 mb-lg-n4">Catering options</h5>
            <ul class="nav nav-tabs card-header-tabs float-right">
                <li class="nav-item">
                    <a class="nav-link" (click)="switchToActive()" [class.active]="!showDisabled"
                        [class.text-dark]="!showDisabled">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="switchToDisabled()" [class.active]="showDisabled"
                        [class.text-dark]="showDisabled">Disabled</a>
                </li>
            </ul>
        </div>

        <div class="card-body pt-4">

            <div class="table-responsive">
                <table class="table table-hover table-borderless table-striped text-center">

                    <thead>

                        <tr>
                            <th>Option name</th>
                            <th>Option Id</th>
                            <th>Daily cost</th>
                            <th>Action</th>
                        </tr>

                    </thead>

                    <tbody>

                        <ng-container *ngIf="!showDisabled">
                            <tr *ngFor="let option of activeCateringOptions">
                                <td>{{option.optionName}}</td>
                                <td>#{{option.id}}</td>
                                <td>{{option.dailyCost | number:'1.2-2'}} PLN</td>
                                <td>
                                    <button class="btn btn-outline-purple"
                                        (click)="openEditCateringOptionModal(option)">Edit
                                        option
                                    </button>
                                </td>
                            </tr>
                        </ng-container>

                        <ng-container *ngIf="showDisabled">
                            <tr *ngFor="let option of disabledCateringOptions">
                                <td>{{option.optionName}}</td>
                                <td>#{{option.id}}</td>
                                <td>{{option.dailyCost | number:'1.2-2'}} PLN</td>
                                <td>
                                    <button class="btn btn-outline-light btn-outline-purple"
                                        (click)="openEditCateringOptionModal(option)">Edit option
                                    </button>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<ng-template #loadingCateringOptions>
    <div class="text-center my-5 mx-auto">
        <h2 class="heading-darkblue">Loading catering options data...</h2>
    </div>
</ng-template>