<mat-card class="mat-elevation-z7">

    <mat-card-title>
        <h3 class="text-center">Assign Group to Supervisor</h3>
    </mat-card-title>

    <mat-card-content>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Daycare group</mat-label>
            <mat-select [(ngModel)]="selectedGroupId">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let group of daycareGroups" [value]="group.id">
                    {{group.groupName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card-content>

    <mat-card-actions class="text-end">
        <button mat-raised-button color="accent" class="m-1" [disabled]="!selectedGroupId" (click)="assignGroup()">
            Submit
        </button>
        <button type="button" mat-raised-button color="accent" class="m-1" mat-dialog-close>
            Cancel
        </button>
    </mat-card-actions>

</mat-card>