<div *ngIf="supervisor; else loadingUser" class="col-sm-11 mx-auto text-center">

    <mat-card class="mat-elevation-z7 text-center mx-auto">

        <mat-card-title>
            <h3>Group Supervisor Details</h3>
        </mat-card-title>
        <mat-card-content>

            <table class="table table-borderless text-start">
                <tbody>
                    <tr>
                        <td class="font-weight-bold">User Id:</td>
                        <td>#{{supervisor.id}} </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">First Name:</td>
                        <td>{{supervisor.firstName}} </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Last Name:</td>
                        <td>{{supervisor.lastName}} </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Username:</td>
                        <td>{{supervisor.username}} </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Supervised <br> Daycare Group:</td>
                        <td>
                            <span *ngIf="supervisor.daycareGroup else none">
                                {{supervisor.daycareGroup.groupName}}
                            </span>
                            <ng-template #none>None</ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>

        </mat-card-content>

        <mat-card-actions>

            <button *ngIf="supervisor.daycareGroup; else assignGroup" mat-raised-button class="mb-1"
                (click)="revokeGroupAssignment()">
                Revoke group assignment
            </button>

            <ng-template #assignGroup>
                <button mat-raised-button class="mb-1" (click)="openAssignGroupDialog()">
                    Assign daycare group
                </button>
            </ng-template>

            <button mat-raised-button class="mb-1" (click)="deleteGroupSupervisorAccount()">
                Delete user account
            </button>

        </mat-card-actions>
    </mat-card>

</div>

<ng-template #loadingUser>
    <div class="text-center loading-data">
        <h2>Loading group supervisor profile ...</h2>
        <mat-spinner color="accent" class="mx-auto"></mat-spinner>
    </div>
</ng-template>