@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body, html {
    background-color: #484D6D;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

a {
    cursor: pointer;
}

.container {
    background-color: #DCDBDD;
    min-height: 100%;
}

.bg-purple {
    background-color: #B5446E;
    color: white;
}

.text-purple {
    color: #B5446E;
}

.bg-darkblue {
    background-color: #484D6D;
    color: white;
}

.text-darkblue {
    color: #484D6D;
}

.heading-darkblue {
    color: #484D6D;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
}

.border-purple {
    border: 2px solid #B5446E;
}

.border-darkblue {
    border: 2px solid #484D6D;
}

.btn-outline-darkblue {
    color: #484D6D;
    background-color: white;
    border-color: #484D6D;
    font-weight: bold;
    letter-spacing: 0.05em;
    border-radius: 0;
}

.btn-outline-darkblue:hover:not([disabled]), .btn-outline-darkblue:active:not([disabled]), .btn-outline-darkblue:focus:not([disabled]) {
    background: #484D6D;
    color: white;
    border-color: #484D6D;
    box-shadow: none;
}

.btn-outline-purple {
    color: #B5446E;
    background-color: white;
    border-color: #B5446E;
    font-weight: bold;
    letter-spacing: 0.05em;
    border-radius: 0;
}

.btn-outline-purple:hover:not([disabled]), .btn-outline-purple:active:not([disabled]), .btn-outline-purple:focus:not([disabled]) {
    background: #B5446E;
    color: white;
    border-color: #B5446E;
    box-shadow: none;
}

.btn-outline-purple:disabled, .btn-outline-darkblue:disabled {
    color: gray;
    border-color: gray;
}

.btn-darkblue {
    color: #fff;
    background-color: #484D6D;
    font-weight: bold;
    letter-spacing: 0.05em;
    border-radius: 0;
}

.btn-darkblue:hover:not([disabled]), .btn-darkblue:active:not([disabled]), .btn-darkblue:focus:not([disabled]) {
    background: #262B4D;
    color: white;
    box-shadow: none;
}

.form-control:focus, .custom-select:focus {
    border-color: #B5446E;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #B5446E;
}

.modal-content {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 12px #B5446E;
}

.modal-top-10 {
    top: 10%;
}

.modal-top-25 {
    top: 25%;
}

.card, #date-group-select {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 12px #484D6D
}

.modal-header {
    border-radius: 0px;
}

.subheader-underline {
    border-bottom: 2px solid #B5446E;
}