body, html {
    background-color: #DCDBDD;
    height: 100%;
}

a{
    cursor: pointer;
}

.modal-top-10 {
    top: 10% !important;
}

.bg-purple{
    background-color: #643B7C;
}

.border-purple{
    border: 2px solid #643B7C;
}
