<div *ngIf="child" class="col-md-5 text-right mx-auto">

    <h2 class="text-center my-3">Child #{{child.id}}</h2>

    <table class="table text-center">
        <tbody>
            <tr>
                <th>First Name:</th>
                <td>{{child.firstName}}</td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td>{{child.lastName}}</td>
            </tr>
            <tr>
                <th>Preschool Group:</th>
                <td>
                    <span *ngIf="child.preschoolGroup">{{child.preschoolGroup.groupName}} </span>
                    <span *ngIf="!child.preschoolGroup">unassigned</span>
                </td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-sm btn-info mx-auto" data-target="#assignNewGroupModal" data-toggle="modal">Assign to
        Group</button>

    <h4 class="text-center my-3">Assigned Diets</h4>

    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th>Effective from:</th>
                <th>Diet Name:</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let chosenDiet of child.chosenDiets">
                <td>{{chosenDiet.effectiveDate}}</td>
                <td>{{chosenDiet.diet.dietName}}</td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-sm btn-info mx-auto" data-target="#assignNewDietModal" data-toggle="modal">Assign to
        Group</button>


    <div class="modal" id="assignNewGroupModal" tabindex="-1" data-backdrop="static">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Assign to Group</h4>
                </div>

                <div class="modal-body">
                    <div class="input-group">
                        <select class="custom-select" [(ngModel)]="newGroupId">
                            <option *ngFor="let group of preschoolGroups" [value]="group.id">
                                {{group.groupName}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-warning" (click)="assignToNewGroup()" data-dismiss="modal">Save</button>
                    <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal" id="assignNewDietModal" tabindex="-1" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Assign New Diet</h4>
                </div>

                <div class="modal-body">
                    <div class="input-group">
                        <input class="form-control" type="date"/>
                        <select class="custom-select" [(ngModel)]="newGroupId">
                            <option *ngFor="let group of preschoolGroups" [value]="group.id">
                                {{group.groupName}}
                            </option>
                        </select>
                    </div>
                </div>

            <div class="modal-footer">
                <button class="btn btn-warning" (click)="assignToNewGroup()" data-dismiss="modal">Save</button>
                <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>