<div *ngIf="child else loadingChild">

    <div class="text-center mx-auto my-4">
        <h2 class="heading-darkblue">Child#{{child.id}}</h2>
        <h4 *ngIf="child.archived" class="text-secondary mt-n2">in archive</h4>
    </div>

    <div class="row justify-content-center">

        <div class="col-10 col-md-7 col-lg-4 mr-lg-4">

            <app-child-basic-info [child]="child" (onBasicInfoChange)="retrieveChild($event)">
            </app-child-basic-info>

            <app-child-daycare-group-info [child]="child" (onDaycareGroupChange)="retrieveChild($event)">
            </app-child-daycare-group-info>

        </div>

        <div class="col-10 col-md-7 col-lg-6">

            <app-child-assigned-options-list [child]="child" (onAssignedOptionsChange)="retrieveChild($event)">
            </app-child-assigned-options-list>

            <app-single-child-attendance [child]="child">
            </app-single-child-attendance>

        </div>

    </div>

</div>

<ng-template #loadingChild>
    <div class="text-center my-5 mx-auto">
        <h2 class="heading-darkblue">Loading child data...</h2>
    </div>
</ng-template>