#basic-info-card td {
    width: 50%;
    vertical-align: middle;
    text-align: left;
}

#daycare-group-card td {
    width: 33%;
    vertical-align: middle;
    text-align: left;
}

#assigned-options-card td, #assigned-options-card th {
    width: 33%;
    vertical-align: middle;
    text-align: center;
}

#assigned-options-card tbody tr, #assigned-options-card thead tr {
    border-bottom: 2px solid #484D6D;
}

.date-cell {
    white-space: nowrap;
    overflow: hidden;
}

#attendance-card td {
    vertical-align: middle;
    text-align: left;
}

.month-picker-underline {
    border-bottom: 2px solid #484D6D;
}

#attendance-month-picker .form-control {
    border: 2px solid #484D6D;
}

#attendance-card table .form-control {
    border: 1px solid #B5446E;
}

#attendance-card select {
    text-align: center;
    text-align-last: center;
}