<div class="modal-header bg-purple text-center">
    <span *ngIf="cateringBill">
        <h4 class="modal-title">{{cateringBill.childFullName}}'s {{cateringBill.month}} {{cateringBill.year}} catering
            bill preview </h4>
    </span>
</div>

<div class="modal-body">
    <span *ngIf="cateringBill">

        <small>*Below orders are based on the current state of child's attendance for this month and on catering
            options
            that are in effect for given dates.</small>

        <div class="table-responsive">
            <table class="table table-borderless table-striped text-center">

                <thead>
                    <tr *ngIf="cateringBill.dailyCateringOrders.length>0 else noOrdersInfo">
                        <th>Date</th>
                        <th>Catering option</th>
                        <th>Price</th>
                    </tr>
                    <ng-template #noOrdersInfo>
                        <tr>
                            <th colspan="3">
                                There are no catering orders in this month.
                            </th>
                        </tr>
                    </ng-template>
                </thead>

                <tbody>
                    <tr *ngFor="let dailyCateringOrder of cateringBill.dailyCateringOrders">
                        <td>{{dailyCateringOrder.orderDate}}</td>
                        <td>{{dailyCateringOrder.cateringOptionName}}</td>
                        <td>{{dailyCateringOrder.cateringOptionPrice | number:'1.2-2'}} PLN</td>
                    </tr>
                    <tr class="font-weight-bold">
                        <td colspan="2">Total due:</td>
                        <td>{{cateringBill.totalDue | number:'1.2-2'}} PLN</td>
                    </tr>
                </tbody>

            </table>
        </div>

    </span>

</div>


<div class="modal-footer">
    <button type="submit" class="btn btn-outline-purple" (click)="saveBillAndSendEmailToParent()">
        Save and send to parent</button>
    <button type="button" class="btn btn-outline-purple" (click)="onCancel()">Cancel</button>
</div>