<div class="modal-header bg-purple text-center">
    <h4 class="modal-title mx-auto">Catering bill preview </h4>
</div>

<div class="modal-body text-center">
    <div *ngIf="cateringBill else loadingBillPreview">

        <h5 class="subheader-purple mx-auto" style="text-align: center;">
            {{cateringBill.childFullName}}, {{cateringBill.month}} {{cateringBill.year}}
            <span *ngIf="cateringBill.correction"> (correction)</span>
        </h5>
        <div class="subheader-underline"></div>

        <div class="table-responsive mt-3">
            <table class="table table-borderless table-hover text-center">

                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Catering option</th>
                        <th>Price</th>
                    </tr>

                </thead>

                <tbody>
                    <tr *ngIf="cateringBill.dailyCateringOrders.length==0">
                        <td colspan="3">
                            No catering orders in this month.
                        </td>
                    </tr>
                    <tr *ngFor="let dailyCateringOrder of cateringBill.dailyCateringOrders">
                        <td>{{dailyCateringOrder.orderDate}}</td>
                        <td>{{dailyCateringOrder.cateringOptionName}}</td>
                        <td>{{dailyCateringOrder.cateringOptionPrice | number:'1.2-2'}} PLN</td>
                    </tr>
                </tbody>

                <tfoot>
                    <tr class="font-weight-bold">
                        <td></td>
                        <td>Total due:</td>
                        <td>{{cateringBill.totalDue | number:'1.2-2'}} PLN</td>
                    </tr>
                </tfoot>

            </table>
        </div>

        <small>*All orders in this preview are based on the current state of child's attendance for this month and
            catering options that are in effect for given dates. </small>

    </div>

    <ng-template #loadingBillPreview>
        <div class="text-center my-5 mx-auto">
            <h4 class="heading-darkblue">Generating catering bill preview...</h4>
        </div>
    </ng-template>

</div>


<div class="modal-footer">
    <button type="submit" [disabled]="inputDisabled" class="btn btn-outline-purple" (click)="submitCateringBill()">
        Save and send to parent</button>
    <button type="button" [disabled]="inputDisabled" class="btn btn-outline-purple" (click)="onCancel()">Cancel</button>
</div>