<div *ngIf="daycareGroup else loadingDaycareGroup">
    <div class="text-center mx-auto my-4">
        <h2 class="heading-darkblue">Daycare group#{{daycareGroup.id}}</h2>
    </div>

    <div class="row justify-content-center">

        <div class="col-10 col-md-4 mr-md-4">
            <app-daycare-group-basic-info [daycareGroup]="daycareGroup"
                (onBasicInfoChange)="retrieveDaycareGroup($event)">
            </app-daycare-group-basic-info>
        </div>

        <div class="col-10 col-md-6 mr-md-4">
            <app-daycare-group-children-list [daycareGroup]="daycareGroup"
                (onChildrenChange)="retrieveDaycareGroup($event)"></app-daycare-group-children-list>

        </div>

    </div>
</div>

<ng-template #loadingDaycareGroup>
    <div class="text-center my-5 mx-auto">
        <h2 class="heading-darkblue">Loading daycare group data...</h2>
    </div>
</ng-template>